*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    border-bottom: 1px rgb(68, 68, 68) solid ;
}
#active{
  
    font-weight: bold;
}

.account{
    
    display: flex;
}
.cantact{

   
    margin-top: 20px;
    margin-left: 20px;
    border-right: 1px solid rgb(54, 53, 53);
    width: 30%;
   
}
#for{
margin-bottom: 20px;
width: 300px;
height: 30px;
border-radius: 30px;
background-color: #1b8bed;
border: none;
}
.text-content{
    padding:8px;
    
    
}
.name{
    font-weight: bold;

}
.work{
    margin-top: -20px;
    opacity: 50%;
}


.cont{
    display: inline-block;
}

.canta{
   display: flex;

}
.cantacts{
  height: 100px;
  background-color: brown;
  width: 30%;
}

.ba{
    display: flex;
    justify-content: space-between;
}
#add{
   
    font-size: 20px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 50px;
}
.show-account{
    display: block;
    margin-top: 20px;
    width: 70%;
    
   

}
.cantaine{
    display: flex;
    
}
#im{
    margin-left: 50%;
}
#full-name{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 48.3%;
    font-weight: bold;
}
#skills{
    margin-top: -15px;
    margin-left: 45.5%;
}
#toggleFormBtn{
    margin-right: 20px;
    cursor: pointer;
}

#form {
    display: none;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: inset rgb(54, 53, 53);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
